<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | GABRIEL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
</head>
<body>
    <header class="navbar">
        <div class="logo">gabriel:~/$</div>
        <nav>
            <a href="{{ "/" | relative_url }}#about" class="nav-link">cd ./sobre</a>
            <a href="{{ "/" | relative_url }}#skills" class="nav-link">ls ./habilidades</a>
            <a href="{{ "/" | relative_url }}#projects" class="nav-link">cat ./projetos.log</a>
            <a href="{{ "/documentos.html" | relative_url }}" class="nav-link">ls ./documentos</a>
        </nav>
    </header>

    {{ content }}

    <footer class="footer">
        <p>> [user@host ~]$ exit</p>
        <p>> logout</p>
    </footer>

    <script src="{{ "/script.js" | relative_url }}"></script>
</body>
</html>
