<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | GABRIEL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <span style="color: var(--primary-color);">[</span>gabriel@portfolio<span style="color: var(--primary-color);">]</span><span style="color: var(--text-color);">:$ ~</span>
        </div>
        <nav>
            <a href="{{ "/" | relative_url }}#about" class="nav-link">[<span class="nav-text">sobre</span>]</a>
            <a href="{{ "/" | relative_url }}#skills" class="nav-link">[<span class="nav-text">habilidades</span>]</a>
            <a href="{{ "/" | relative_url }}#projects" class="nav-link">[<span class="nav-text">projetos</span>]</a>
            <a href="{{ "/documentos.html" | relative_url }}" class="nav-link">[<span class="nav-text">documentos</span>]</a>
        </nav>
    </header>

    {{ content }}

    <footer class="footer">
        <p>> process_render(page) complete with status 0</p>
        <p>> session.end</p>
    </footer>

    <script src="{{ "/script.js" | relative_url }}"></script>
</body>
</html>
